* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(54, 112, 199);
}

body {
    width: 100%;
    
}

header {
   padding: 20px;
   margin: 0 auto;
   text-align: center;
}

main {
    margin: 0 auto;
    border: 1px solid #000;
}

/* TASKS ADD FORM*/

.task-form {
    width: 50%;
    margin: 30px auto;
    padding: 10px;
}

.task-input {
    border: 0;
    width: 90%;
    padding: 10px;
	border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    text-transform: uppercase;
    color: #ffffff;
}

button {
	padding: 5px 10px;
	background-color: rgba(255, 255, 255, 0.469);
	border: none;
	border-radius: 50px;
	cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;

}

button:hover {
	background-color: rgb(54, 112, 199);
}

.error {
    text-align: center;
    margin: 10px 10px;
    font-size: 15px;
    color: tomato;
}

/* TASKS LIST */

.todo-list {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}

.tasks {
    display: flex;
	justify-content: center;
	align-items: center;
    border: 1px solid #000;
}



.delete {
    text-align: center;
}

.delete a {
    color:#000;
    padding: 1px 6px;
    text-decoration: none;
}